/NotDeadYet.suo
/NotDeadYet.sdf
/NotDeadYet/NotDeadYet/Debug
/NotDeadYet/NotDeadYet/Release
/WorkingDir/NotDeadYetD32.exe
/WorkingDir/NotDeadYetD32.ilk
/WorkingDir/NotDeadYetD32.pdb
/WorkingDir/NotDeadYetR32.exe
/WorkingDir/NotDeadYetR32.pdb
/WorkingDir/Config.cfg
/WorkingDir/MaloWDebug.txt
/WorkingDir/*.pdb
/NotDeadYet.sdf
/NotDeadYet.v11.suo
/NotDeadYet/Debug
/NotDeadYet/Release
/NotDeadYet.opensdf
/NotDeadYet/Debug/NotDeadYet.log
/NotDeadYet/Debug/NotDeadYetD32.Build.CppClean.log
/NotDeadYet/Release/NotDeadYet.log
/NotDeadYet/Release/NotDeadYetR32.Build.CppClean.log
/NotDeadYet.v11.suo
/NotDeadYet.sdf
/NotDeadYet/NotDeadYet.aps
/Dedicated Server/Code/Code.sdf
/Dedicated Server/Code/GUI/obj
/Dedicated Server/Obj
/Dedicated Server/Bin/x86/C++CLI.exp
/Dedicated Server/Bin/x86/C++CLI.ilk
/Dedicated Server/Bin/x86/C++CLI.lib
/Dedicated Server/Bin/x86/C++CLI.pdb
/Dedicated Server/Bin/x86/GUI.exe
/Dedicated Server/Bin/x86/GUI.exe.config
/Dedicated Server/Bin/x86/GUI.pdb
/Dedicated Server/Bin/x86/MaloWDebug.txt
/Dedicated Server/Bin/x86/Server.dll
/Dedicated Server/Bin/x86/Server.exp
/Dedicated Server/Bin/x86/Server.ilk
/Dedicated Server/Bin/x86/Server.lib
/Dedicated Server/Bin/x86/Server.pdb
/Dedicated Server/Code/Code.opensdf
/Dedicated Server/Code/GUI/obj/Debug
/Dedicated Server/Code/GUI/obj/Debug
/Dedicated Server/Code/Code.sdf
/Dedicated Server/Code/Code.v11.suo
/Dedicated Server/Bin/x86/C++CLI.dll
/WorkingDir/Config.cfg
/WorkingDir/*.pdb
/Dedicated Server/Bin/x86/ServerClientMessages.txt
/WorkingDir/ServerClientMessages.txt
/Dedicated Server/Bin/x64/*.dll
/Dedicated Server/Bin/x64/C++CLI.dll.metagen
/Dedicated Server/Bin/x64/*.exp
/Dedicated Server/Bin/x64/*.ilk
/Dedicated Server/Bin/x64/*.lib
/Dedicated Server/Bin/x64/*.pdb
/Dedicated Server/Bin/x64/*.exe
/Dedicated Server/Bin/x64/*.config
/Dedicated Server/Bin/x64/MaloWDebug.txt
/Dedicated Server/Bin/x64/ServerClientMessages.txt
/Dedicated Server/Code/C++CLI/ARM/Debug
/WorkingDir/Media/Cache
/WorkingDir/Media/Models/Cache
/WorkingDir/Media/Models/Flag/Cache
/Dedicated Server/Bin/x86/Media/Cache
/Dedicated Server/Bin/x86/Media/Models/Cache
/Dedicated Server/Bin/x86/Media/Models/Flag/Cache
/WorkingDir/MapDebugData.txt
/Dedicated Server/Code/Server.sdf
/WorkingDir/Media/Thumbs.db
/Malow/Bin
/Malow/Debug
/Server/Bin
/Server/C++CLI/Debug
/Server/C++CLI/Release
/Server/GUI/obj
/Server/Server/Debug
/Server/Server/Release
/Client/Debug
/Client/Release
/Client/Bin
/Game/Release
/Game/Bin
/Game/Debug
/Malow/Release
/MasterServer/Debug
/MasterServer/Release
/MasterServer/Bin
/ModelingProject1/obj
/ModelingProject1/bin
/ARM
/WorkingDir/Media/Models/Cache
