/NotDeadYet.suo
/NotDeadYet/MaloWDebug.txt
/NotDeadYet/Media/Cache
/NotDeadYet/config.cfg
/NotDeadYet.sdf
/NotDeadYet/NotDeadYet/Debug
/NotDeadYet/NotDeadYet/Release
/WorkingDir/NotDeadYetD32.exe
/WorkingDir/NotDeadYetD32.ilk
/WorkingDir/NotDeadYetD32.pdb
/WorkingDir/NotDeadYetR32.exe
/WorkingDir/NotDeadYetR32.pdb
/NotDeadYet.sdf
/NotDeadYet.v11.suo
