/NotDeadYet.suo
/NotDeadYet.sdf
/NotDeadYet/NotDeadYet/Debug
/NotDeadYet/NotDeadYet/Release
/WorkingDir/NotDeadYetD32.exe
/WorkingDir/NotDeadYetD32.ilk
/WorkingDir/NotDeadYetD32.pdb
/WorkingDir/NotDeadYetR32.exe
/WorkingDir/NotDeadYetR32.pdb
/WorkingDir/Config.cfg
/WorkingDir/MaloWDebug.txt
/WorkingDir/*.pdb
/NotDeadYet.sdf
/NotDeadYet.v11.suo
/NotDeadYet/Debug
/NotDeadYet/Release
/NotDeadYet.opensdf
/NotDeadYet/Debug/NotDeadYet.log
/NotDeadYet/Debug/NotDeadYetD32.Build.CppClean.log
/NotDeadYet/Release/NotDeadYet.log
/NotDeadYet/Release/NotDeadYetR32.Build.CppClean.log
/NotDeadYet.v11.suo
/NotDeadYet.sdf
/NotDeadYet/NotDeadYet.aps
/WorkingDir/Config.cfg
/WorkingDir/*.pdb
/WorkingDir/ServerClientMessages.txt
/WorkingDir/MapDebugData.txt
/WorkingDir/Media/Thumbs.db
/Malow/Bin
/Malow/Debug
/Server/Bin
/Server/C++CLI/Debug
/Server/C++CLI/Release
/Server/GUI/obj
/Server/Server/Debug
/Server/Server/Release
/Client/Debug
/Client/Release
/Client/Bin
/Game/Release
/Game/Bin
/Game/Debug
/Malow/Release
/MasterServer/Debug
/MasterServer/Release
/MasterServer/Bin
/ModelingProject1/obj
/ModelingProject1/bin
/WorkingDir/Media/Models/Cache/*.MalEng
/WorkingDir/Media/Models/Cache
/WorkingDir/Media/Maps/*.map
/WorkingDir/MPR.txt
/WorkingDir/MPR_Client.txt
/WorkingDir/MPR_Server.txt
/WorkingDir/UserData.cfg
/WorkingDir/Media/MapModels/Cache
